In [1]:
import sys
sys.path.append(r'D:\school\depro\financial-market-data-pipeline')  # Adjust the path based on the directory structure

import yaml
import etl
import pandas as pd

In [2]:
with open('../config/config.yaml', 'r') as file:
    config = yaml.safe_load(file)

# Accessing the API key
api_key = config['api']['key']

res = etl.get_data_from_finnhub(api_key)

In [3]:
js = res.get_company_profile("GOOGL")

In [4]:
print(js)

{'country': 'US', 'currency': 'USD', 'estimateCurrency': 'USD', 'exchange': 'NASDAQ NMS - GLOBAL MARKET', 'finnhubIndustry': 'Media', 'ipo': '2004-08-19', 'logo': 'https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/GOOG.svg', 'marketCapitalization': 1870575.4642180004, 'name': 'Alphabet Inc', 'phone': '16502530000', 'shareOutstanding': 12516, 'ticker': 'GOOGL', 'weburl': 'https://abc.xyz/'}

In [8]:
response_df = pd.DataFrame.from_records(js)
response_df

    count                                             result
0      22  {'description': 'Apple', 'displaySymbol': 'A19...
1      22  {'description': 'Apple', 'displaySymbol': 'APC...
2      22  {'description': 'Apple', 'displaySymbol': 'A1H...
3      22  {'description': 'Apple', 'displaySymbol': 'A3K...
4      22  {'description': 'Apple', 'displaySymbol': 'A3K...
5      22  {'description': 'Apple', 'displaySymbol': 'A2R...
6      22  {'description': 'Apple', 'displaySymbol': 'A3K...
7      22  {'description': 'Apple', 'displaySymbol': 'A3K...
8      22  {'description': 'Apple', 'displaySymbol': 'APC...
9      22  {'description': 'Apple', 'displaySymbol': 'A2R...
10     22  {'description': 'Apple', 'displaySymbol': 'A3L...
11     22  {'description': 'Apple', 'displaySymbol': 'A3K...
12     22  {'description': 'Apple', 'displaySymbol': 'APC...
13     22  {'description': 'Apple', 'displaySymbol': 'A3K...
14     22  {'description': 'Apple', 'displaySymbol': 'A1H...
15     22  {'description': 'Apple', 'displaySymbol': 'A3K...
16     22  {'description': 'Apple', 'displaySymbol': 'APC...
17     22  {'description': 'Apple', 'displaySymbol': 'A3K...
18     22  {'description': 'Apple', 'displaySymbol': 'A19...
19     22  {'description': 'Apple', 'displaySymbol': 'A3L...
20     22  {'description': 'Apple', 'displaySymbol': 'APC...
21     22  {'description': 'Apple', 'displaySymbol': 'A3L...